////////////////////////////////////////
// Compass reset
////////////////////////////////////////

// @import "compass/reset"; not necessary because all code include bottom

html,
body,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  //content: '';
  content: none;
}

// a img {
//   border: 0;
// }

hgroup {
  display: block;
}


////////////////////////////////////////
// Custom reset
////////////////////////////////////////

//html,
//body {
//  height: 100%;
//}

pre {
  word-wrap: break-word;
}

////////////////////////////////////////
// Global resets for forms
////////////////////////////////////////

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 3.2rem;
}

// Make select elements 100% width by default
select {
  width: 100%;
}

// Reset <button> styles created by most browsers
button {
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0;

  // line-height: 1;

  [data-whatinput='mouse'] & {
    outline: 0;
  }
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

////////////////////////////////////////
// SVG
////////////////////////////////////////

// Fix SVG height bug on some devices
svg {
  max-height: 100%;
}
