////////////////////
// Custom reset based on Compass and Foundation reset styles
@import "scss/reset";

////////////////////
// Foundation vendor
// Sass utilities need for Foundation util
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/contain";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace";
@import "../../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list";

// Foundation
// Sass utilities need for settings files
@import "../../node_modules/foundation-sites/scss/util/util";

// --- Settings ---
@import "scss/settings/fonts";
@import "scss/settings/colors";
@import "scss/settings/content-tags";
@import "scss/settings/settings";

// --- Components ---
// Grid type + all styles
@import "assets/base-flex-custom";

// Grid type + all styles
// All styles together
// @import "../../node_modules/foundation-sites/scss/foundation";
// Choose separate styles
@import "../../node_modules/foundation-sites/scss/foundation-customize-output";

@include foundation-everything(
  $flex: true,
  $xy-grid: true,
  $foundation-typography: true,
  $foundation-forms: true,
  $foundation-button: true,
  $foundation-accordion: true,
  $foundation-accordion-menu: true,
  $foundation-badge: true,
  $foundation-breadcrumbs: true,
  $foundation-button-group: true,
  $foundation-callout: true,
  $foundation-card: true,
  $foundation-close-button: true,
  $foundation-menu: true,
  $foundation-menu-icon: true,
  $foundation-drilldown-menu: true,
  $foundation-dropdown: true,
  $foundation-dropdown-menu: true,
  $foundation-label: true,
  $foundation-media-object: true,
  $foundation-off-canvas: true,
  $foundation-orbit: true,
  $foundation-pagination: true,
  $foundation-progress-bar: true,
  $foundation-slider: true,
  $foundation-sticky: true,
  $foundation-responsive-embed: true,
  $foundation-reveal: true,
  $foundation-switch: true,
  $foundation-table: true,
  $foundation-tabs: true,
  $foundation-thumbnail: true,
  $foundation-title-bar: true,
  $foundation-tooltip: true,
  $foundation-top-bar: true,
  $foundation-visibility-classes: true,
  $foundation-float-classes: true,
  $prototype: false
);
