////////////////////////////////////////
// Fonts variables
////////////////////////////////////////

$font-face-path: "/assets/fonts/";

////////////////////////////////////////
// Fonts mixin
////////////////////////////////////////

@mixin font-face-mixin(
  $font-name,
  $font-file-woff2,
  $font-file-woff,
  $font-face-font-style: normal,
  $font-face-font-weight: normal,
  $local-font-name: none,
  $local-font-postscript-name: none
) {
  @font-face {
    font-weight: $font-face-font-weight;
    font-family: $font-name;
    font-style: $font-face-font-style;

    @if ($local-font-name != "none") and ($font-file-woff2 != "none") {
      src: local($local-font-name), local($local-font-postscript-name),
        url($font-face-path+$font-file-woff2) format("woff2"),
        url($font-face-path+$font-file-woff) format("woff");
    }

    @else if ($local-font-name == "none") and ($font-file-woff2 != "none") {
      src: url($font-face-path+$font-file-woff2) format("woff2"),
        url($font-face-path+$font-file-woff) format("woff");
    }

    @else if ($local-font-name != "none") and ($font-file-woff2 == "none") {
      src: local($local-font-name), local($local-font-postscript-name),
        url($font-face-path+$font-file-woff) format("woff");
    }

    @else if ($local-font-name == "none") and ($font-file-woff2 == "none") {
      src: url($font-face-path+$font-file-woff) format("woff");
    }
  }
}

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
// Fonts
////////////////////////////////////////

// Sample code
// @include font-face-mixin(
//   "name",
//   "source/woff2",
//   "source/woff",
//   font-style,
//   font-weight,
//   local name,
//   local-postscript-name
// );
