//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//      3.1. Xy Grid
//   4. Base Typography
//      4.1 Base
//      4.2 Helpers
//   5. Forms
//      5.1 Text
//      5.2 Checkbox
//      5.2 Label
//      5.3 Help text
//      5.4 Input-group
//      5.5 Fieldset
//      5.6 Select
//      5.7 Error
//   6. Accordion
//   7. Accordion Menu
//   8. Badge
//   9. Breadcrumbs
//  10. Button
//  11. Button Group
//  12. Callout
//  13. Card
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Label
//  20. Media Object
//  21. Menu
//  22. Menu Icon
//  23. Off-canvas
//  24. Orbit
//  25. Pagination
//  26. Progress Bar
//  27. Responsive-embed
//  28. Reveal
//  29. Slider
//  30. Switch
//  31. Table
//  32. Tabs
//  33. Thumbnail
//  34. Title Bar
//  35. Tooltip
//  36. Top Bar

// // 1. Global
// // ---------

// // Colors
// $foundation-palette: (
//   primary: $primary-color,
//   secondary: $secondary-color,
//   success: $success-color,
//   alert: $alert-color,
//   warning: $warning-color
// );

// // Border width
// $global-border-width: rem-calc(1);
// $global-form-border-width: 1px;
// $global-text-border-width: 1px;
// $global-hr-border-width: 1px;

// // Radius
// $global-radius: 0;

// // Status
// $global-flexbox: true;
// $global-prototype-breakpoints: false;
// $body-antialiased: true;

// // Sizes
// $global-font-size: 100%;
// $global-width: rem-calc(1200);
// $global-lineheight: 1.35;
// $body-font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
// $font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-form-spacing: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
// $global-text-direction: ltr;
// $global-left: if($global-text-direction == rtl, right, left);
// $global-right: if($global-text-direction == rtl, left, right);

@include add-foundation-colors;

// // 2. Breakpoints
// // --------------

// $breakpoints: (
//   small: 0,
//   medium: 640px,
//   large: 1024px,
//   xlarge: 1200px,
//   xxlarge: 1440px
// );
// $breakpoints-hidpi: (
//   hidpi-1: 1,
//   hidpi-1-5: 1.5,
//   hidpi-2: 2,
//   retina: 2,
//   hidpi-3: 3
// );
// $-zf-zero-breakpoint: small;
// $print-breakpoint: large;
// $breakpoint-classes: (small medium large);

// // 3.the Grid
// // -----------

// $grid-row-width: $global-width;
// $grid-column-count: 12;
// $grid-column-gutter: (
//   small: 20px,
//   medium: 30px
// );
// $grid-column-align-edge: true;
// $grid-column-alias: "columns";
// $block-grid-max: 8;

// // 3.1.xy Grid
// // -----------

// $xy-grid: true;
// $grid-container: $global-width;
// $grid-columns: 12;
// $grid-margin-gutters: (
//   small: 20px,
//   medium: 30px
// );
// $grid-padding-gutters: $grid-margin-gutters;
// $grid-container-padding: $grid-padding-gutters;
// $grid-container-max: $global-width;
// $xy-block-grid-max: 8;

// // 4.typography
// // -------------
// // 4.1 Base
// // --------

// // Status
// $enable-cite-block: true;
// $enable-code-inline: true;
// $pre-tag-status: true;
// $kbd-tag-status: true;
// $code-decoration-status: true;
// $kbd-decoration-status: true;
// $blockquote-border-status: true;
// $code-border-status: true;
// $kbd-border-status: true;
// $code-border-radius-status: true;
// $kbd-border-radius-status: true;
// $preformated-border-radius-status: true;

// // Header font styles
// // Sizes
// $header-font-family: $body-font-family;
// $header-font-weight: $global-weight-bold;
// $header-font-style: normal;
// $header-small-coefficient: 1;
// $header-medium-coefficient: 1;
// $header-large-coefficient: 1.2;
// $h1-font-size: rem-calc(36);
// $h2-font-size: rem-calc(31);
// $h3-font-size: rem-calc(26);
// $h4-font-size: rem-calc(22);
// $h5-font-size: rem-calc(19);
// $h6-font-size: rem-calc(16);
// $header-lineheight: 1.125;
// $header-top-margin: 0.5em;
// $header-margin-bottom: 0.7em;
// $header-text-rendering: optimizeLegibility;

// // Header small font styles
// // Status
// $header-small-status: true;
// // Sizes
// $header-small-line-height: 0;
// $header-small-font-size: 0.5em;

// // Small font styles
// // Sizes
// $small-font-size: 0.75em;

// // Paragraph font styles
// $paragraph-font-size: inherit;
// $paragraph-lineheight: $global-lineheight;
// $paragraph-margin-bottom: 1.1em;
// $paragraph-text-rendering: optimizeLegibility;

// // Anchors font styles
// // Sizes
// $anchor-text-decoration: none;
// $anchor-text-decoration-hover: none;

// // Horizontal line style
// $hr-border-width: $global-hr-border-width;
// // Sizes
// $hr-width: $global-width;
// $hr-border-style: solid;
// $hr-margin: rem-calc(20) auto;

// // Lists style
// // Sizes
// $list-lineheight: $paragraph-lineheight;
// $list-margin-bottom: $paragraph-margin-bottom;
// $unordered-list-style-type: disc;
// $ordered-list-style-type: decimal;
// $ordered-second-list-style-type: lower-alpha;
// $list-style-position: outside;
// $list-side-margin: rem-calc(32);
// $list-nested-side-margin: $list-side-margin;

// // Defifnitions style
// // Sizes
// $defnlist-margin-bottom: 1.2rem;
// $defnlist-term-weight: $global-weight-bold;
// $defnlist-term-margin-bottom: 0.3rem;

// // Blockquote style
// // Border width
// $blockquote-border-width: $global-border-width;
// // Sizes
// $blockquote-border: $blockquote-border-width solid $blockquote-border-color;
// $blockquote-padding: rem-calc(8 32);
// $blockquote-margin: 0 0 rem-calc(16);

// // Cite style
// $cite-font-size: rem-calc(13);

// // Sub & sup
// // Sizes
// $sub-sup-font-size: 0.7em;

// // Abbreviation elements style
// // Border width
// $abbr-underline-width: $global-text-border-width;
// // Sizes
// $abbr-underline: $abbr-underline-width dotted $abbr-underline-color;

// // <code> tags
// // Border width
// $code-border-width: $global-text-border-width;
// // Radius
// $code-radius: $global-radius;
// // Sizes
// $code-font-family: $font-family-monospace;
// $code-font-size: 1rem;
// $code-font-weight: $global-weight-normal;
// $code-border: $code-border-width solid $code-border-color;
// $code-padding: rem-calc(2 4);

// // Keyboard elements style
// // Border width
// $keystroke-border-width: $global-text-border-width;
// // Radius
// $keystroke-radius: $global-radius;
// // Sizes
// $keystroke-font: $font-family-monospace;
// $keystroke-padding: rem-calc(2 4 0);
// $keystroke-border: $keystroke-border-width solid $keystroke-border-color;

// // Preformated block style
// // Radius
// $preformated-radius: $global-radius;
// // Sizes
// $preformated-font-size: $paragraph-font-size;
// $preformated-line-height: $global-lineheight;
// $preformated-padding: rem-calc(16 18);
// $preformated-margin: 0 0 $paragraph-margin-bottom;

// // Address
// // Sizes
// $address-font-size: $paragraph-font-size;
// $address-font-style: italic;
// $address-font-weight: normal;

// // Figcaption
// // Sizes
// $figcaption-font-size: $paragraph-font-size;
// $figcaption-line-height: inherit;

// // 4.2 Typography Helpers
// // ----------------------

// // Subheaders class
// // Sizes
// $subheader-lineheight: $header-lineheight;
// $subheader-font-weight: $global-weight-normal;
// $subheader-margin-top: 0.3rem;
// $subheader-margin-bottom: 0.5rem;

// // Lead class
// // Sizes
// $lead-font-size: $global-font-size * 1.3;
// $lead-lineheight: $global-lineheight * 1.3;

// // Stat class
// // Sizes
// $stat-font-size: rem-calc(32);
// $stat-line-height: 1;
// $stat-p-margin-top: -1rem;

// // No bullet class
// $no-bullet-margin: 0;
// $no-bullet-margin-second-level: 0;

// // 5. Forms
// // --------

// // Sizes
// $form-spacing: $global-form-spacing;

// // 5.1 Text (input)
// // ----------------

// // Border width
// $input-border-width: $global-form-border-width;
// // Radius
// $input-radius: $global-radius;
// $form-button-radius: $global-radius;
// // Status
// $input-height-status: false;
// $input-number-spinners: true;
// $input-border-status: true;
// $input-box-shadow-status: true;
// $input-radius-status: true;
// $submit-button-border-radius-status: true;
// // Sizes
// $input-font-family: inherit;
// $input-font-size: rem-calc(16);
// $input-font-weight: $global-weight-normal;
// $input-line-height: $global-lineheight;
// $input-border: $input-border-width solid $global-input-border-color;
// $input-border-focus: $input-border-width solid $global-input-border-focus-color;
// $input-cursor-disabled: not-allowed;
// $input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
// $input-margin: 0 0 $form-spacing;
// $input-padding: $form-spacing / 2;
// $input-height: ($input-font-size * unitless-calc($input-line-height)) +
//   (get-side($input-padding, "top") + get-side($input-padding, "bottom")); // - rem-calc(1)

// // 5.2 Checkbox
// // ------------

// // Sizes
// $input-checkbox-radio-margin-left: $form-spacing / 2;
// $input-checkbox-radio-margin-right: $form-spacing;

// // 5.2 Label
// // ---------

// // Status
// $form-label-middle-status: true;
// // Sizes
// $form-label-font-size: rem-calc(14);
// $form-label-font-weight: $global-weight-normal;
// $form-label-line-height: inherit;
// $form-label-margin-bottom: rem-calc(4);

// // 5.3 Help text
// // -------------

// // Sizes
// $helptext-font-size: rem-calc(13);
// $helptext-font-style: italic;
// $helptext-margin-top: -($form-spacing / 2);

// // 5.4 Input-group
// // ---------------

// // Radius
// $input-group-border-radius: $global-radius;
// // Status
// $input-group-border-radius-status: true;
// $input-prefix-border-status: true;
// $input-prefix-global-button-border-status: false;
// // Sizes
// $input-prefix-border: $input-border-width solid $input-prefix-border-color;
// $input-prefix-padding: 0 1rem;
// $input-group-margin-bottom: $form-spacing;
// $input-group-label-text-align: center;
// $height: $input-height;
// $input-group-label-width: 1%;
// $input-group-button-width: 1%;

// // 5.5 Fieldset
// // ------------

// // Border width
// $fieldset-border-width: $global-form-border-width;
// // Radius
// $fieldset-border-radius: $global-radius;
// // Status
// $fieldset-border-radius-status: false;
// // Sizes
// $fieldset-border: $fieldset-border-width solid $fieldset-border-color;
// $fieldset-padding: rem-calc(8 16 4);
// $fieldset-margin: rem-calc(16 0);
// $legend-padding-side: rem-calc(4);
// $legend-margin-bottom: $form-spacing / 2;

// // 5.5--- Meter
// // ------------

// // Radius
// $meter-radius: $global-radius;
// // Status
// $meter-radius-status: true;
// // Sizes
// $meter-height: 1rem;
// $meter-margin-bottom: $global-margin;

// // 5.5--- Progress
// // ------------

// // Radius
// $progress-radius: $global-radius;
// // Status
// $progress-radius-status: true;
// // Sizes
// $progress-height: 1rem;
// $progress-margin-bottom: $global-margin;

// // 5.6 Select
// // ----------

// // Radius
// $select-radius: $global-radius;
// // Status
// $select-style-status: true;
// $select-radius-status: true;
// // Sizes
// $select-triangle-size: 9px 6px;
// $select-triangle-position: $global-right (-$form-spacing) center;
// $select-margin: 0 0 $form-spacing;
// $select-padding: $input-padding;
// $select-triangle-position-padding-right: ($form-spacing * 1.5);

// // 5.7 Error (Abide)
// // ----------------

// // Status
// $abide-inputs-status: true;
// $abide-labels-status: true;
// $form-error-border-status: true;
// // Sizes
// $input-error-font-size: $small-font-size;
// $input-error-font-weight: $global-weight-bold;
// $input-error-font-style: normal;
// $input-error-message-margin-top: -$form-spacing / 1.2;
// $input-error-message-margin-bottom: $form-spacing;

// // Components
// // ----------
// // 6. Accordion
// // ------------

// // Border width
// $accordion-content-border-width: $global-border-width;
// // Radius
// $accordion-container-border-radius: $global-radius;
// // Status
// $accordion-plusminus-status: true;
// $accordion-container-border-radius-status: true;
// $accordion-container-border-status: true;
// $accordion-content-border-status: true;
// $accordion-title-border-bottom-status: true;
// $accordion-title-border-bottom-active-status: true;
// // Sizes
// $accordion-item-padding: rem-calc(20) 1rem;
// $accordion-content-padding: 1rem;
// $accordion-content-border: $accordion-content-border-width solid
//   $accordion-content-border-color;
// $accordion-title-font-size: rem-calc(12);
// $accordion-title-font-weight: normal;
// $accordion-title-line-height: 1;
// $accordion-plusminus-font-size: rem-calc(16);
// $accordion-plusminus-font-weight: normal;
// $accordion-plusminus-right: 1rem;

// // 7. Accordion Menu
// // -----------------

// // Status
// $accordionmenu-arrows-status: true;
// // Sizes
// $accordionmenu-arrow-size: rem-calc(10);
// $accordionmenu-padding: $global-menu-padding;
// $accordionmenu-submenu-padding: $accordionmenu-padding;
// $accordionmenu-nested-margin: $global-menu-nested-margin;
// $accordionmenu-border: null;
// $accordionmenu-submenu-toggle-background: null;
// $accordion-submenu-toggle-border: $accordionmenu-border;
// $accordionmenu-submenu-toggle-width: $accordionmenu-arrow-size + 2rem;
// $accordionmenu-submenu-toggle-height: null;
// $accordionmenu-arrows-right: 1rem;
// $accordionmenu-submenu-ul-margin-bottom: 0;

// // 8. Badge
// // --------

// // Radius
// $badge-border-radius: 50%;
// // Status
// $badge-border-radius-status: true;
// // Sizes
// $badge-font-size: 1rem;
// $badge-padding: rem-calc(2);
// $badge-line-height: 1;
// $badge-minwidth: strip-unit($badge-font-size * $badge-line-height) +
//   ($badge-padding * 2);
// $badge-margin-left: 0;
// $badge-margin-right: 0;

// // 9. Breadcrumbs
// // ---------------

// // Status
// $breadcrumbs-item-uppercase-status: false;
// $breadcrumbs-item-separator-status: true;
// $breadcrumbs-item-anchor-underline-status: false;
// $breadcrumbs-item-disabled-status: true;
// // Sizes
// $breadcrumbs-margin: 0 0 $global-margin 0;
// $breadcrumbs-item-font-size: rem-calc(16);
// $breadcrumbs-item-margin: rem-calc(10);

// // 10. Button
// // ----------

// // Radius
// $button-radius: $global-radius;
// // Status
// // default fill for buttons. Can either be `solid` or `hollow`.
// $button-fill: solid;
// $button-solid-with-hover-class-status: true;
// $button-hollow-hover-solid: true;
// $button-border-status: true;
// $button-border-radius-status: true;
// $button-dropdown-status: true;
// $button-disabled-status: true;
// $button-clear-status: true;
// $button-color-strict-status: false;
// // Sizes
// $button-font-family: inherit;
// $button-margin: 0 0 $global-margin 0;

// @if $global-text-direction == "rtl" {
//   $button-margin: 0 0 $global-margin $global-margin;
// }
// $button-transition: background-color 0.25s ease-out, color 0.25s ease-out;
// $button-responsive-expanded: false;
// $button-padding: 0.5em 1em; // Use only em. You can use map
// $button-font-default: 1rem;
// $button-sizes: (
//   default: $button-font-default,
//   tiny: $button-font-default -
//   (
//     $button-font-default / 6
//   ),
//   small: $button-font-default -
//   (
//     $button-font-default / 9
//   ),
//   large: $button-font-default +
//   (
//     $button-font-default / 6
//   )
// );
// $button-hollow-border-width: $global-border-width;
// $button-line-height: 1;
// $button-font-weight: null;
// $button-border-width: $global-border-width;
// $button-border-style: solid;
// $button-border-hollow-style: solid;
// $button-dropdown-arrow-font-size: rem-calc(10);
// $button-dropdown-arrow-padding-top: 0.15em;
// $button-dropdown-arrow-margin-left-coefficient: 0.8;
// $button-arrow-only-side-margin: 0.2em;

// // 11. Button Group
// // ----------------

// // Radius
// $buttongroup-radius-on-each: false;
// // Sizes
// $buttongroup-child-selector: ".button";
// $buttongroup-expand-max: 6;
// $buttongroup-margin: 1rem;
// $buttongroup-spacing: $global-border-width;
// $buttongroup-stack-spacing-bottom: $buttongroup-spacing * 2;

// // 12. Callout
// // -----------

// // Border width
// $callout-border-width: $global-border-width;
// // Radius
// $callout-radius: $global-radius;
// // Status
// $callout-border-status: true;
// $callout-border-radius-status: true;
// $callout-different-sizes-status: true;
// // Sizes
// $callout-border: $callout-border-width solid $callout-border-color;
// $callout-margin: 0 0 1rem 0;
// $callout-sizes: (
//   small: rem-calc(8) rem-calc(10) 0,
//   default: rem-calc(14) rem-calc(16) rem-calc(6),
//   large: 3rem,
// );

// // 13. Card
// // --------
// // Radius
// $card-border-radius: $global-radius;
// // Status
// $card-background-status: true;
// $card-border-status: true;
// $card-border-radius-status: true;
// $card-shadow-status: true;
// $card-image-ie-hack-status: false;
// // Sizes
// $card-shadow: none;
// $card-padding: $global-padding;
// $card-margin-bottom: 0 0 $global-margin;
// $card-border: $global-border-width solid $card-border-color;

// // 14. Close Button
// // ----------------

// // Status
// $closebutton-position: right top;
// $closebutton-svg-status: true;
// // Sizes
// $closebutton-z-index: 10;
// $closebutton-offset-horizontal: (
//   small: rem-calc(10),
//   medium: rem-calc(12)
// );
// $closebutton-offset-vertical: (
//   small: rem-calc(10),
//   medium: rem-calc(14)
// );
// $closebutton-size: (
//   small: rem-calc(9),
//   medium: rem-calc(14)
// );
// $closebutton-default-size: medium;
// $closebutton-lineheight: 1;
// $closebutton-svg-stroke-width: 10px;

// // 15. Drilldown
// // -------------

// // Status
// $drilldown-arrows-status: true;
// // Sizes
// $drilldown-transition: transform 0.15s linear;
// $drilldown-arrow-size: rem-calc(8);
// $drilldown-arrow-next-margin-right: 1rem;
// $drilldown-arrow-back-margin-right: rem-calc(8);
// $drilldown-padding: $global-menu-padding;
// $drilldown-nested-margin: 0;
// $drilldown-submenu-padding: $drilldown-padding;

// // 16. Dropdown
// // ------------

// // Border width
// $dropdown-border-width: $global-border-width;
// // Radius
// $dropdown-radius: $global-radius;
// // Status
// $dropdown-border-radius-status: true;
// $dropdown-border-status: true;
// // Sizes
// $dropdown-padding: 1rem;
// $dropdown-border: $dropdown-border-width solid $dropdown-border-color;
// $dropdown-font-size: 1rem;
// $dropdown-width: rem-calc(300);
// $dropdown-sizes: (
//   tiny: $dropdown-width / 3,
//   small: $dropdown-width -
//   (
//     $dropdown-width / 2
//   ),
//   large: $dropdown-width +
//   (
//     $dropdown-width / 2
//   )
// );

// // 17. Dropdown Menu
// // -----------------

// // Border width
// $dropdownmenu-border-width: $global-border-width;
// // Radius
// $dropdownmenu-border-radius: $global-radius;
// // Status
// $dropdownmenu-arrows-status: true;
// $dropdownmenu-border-status: true;
// $dropdownmenu-border-radius-status: true;
// $dropdownmenu-vertical-status: true;
// $dropdownmenu-shadow-status: false;
// // Sizes
// $dropdownmenu-min-width: rem-calc(200);
// $dropdownmenu-border: $dropdownmenu-border-width solid
//   $dropdownmenu-border-color;
// $dropdownmenu-border-width: nth($dropdownmenu-border, 1);
// $dropdownmenu-arrow-size: rem-calc(10);
// $dropdownmenu-arrow-padding: 1.5rem;
// $dropdownmenu-padding: $global-menu-padding;
// $dropdownmenu-nested-margin: 0;
// $dropdownmenu-submenu-padding: $dropdownmenu-padding;
// $dropdownmenu-main-menu-has-arrow-padding-right: 0;
// $dropdownmenu-arrows-down-margin-right: 0;
// $dropdownmenu-arrows-right: rem-calc(10);
// $dropdownmenu-horizontal-arrows-font-size: rem-calc(8);
// $dropdownmenu-arrows-left-margin-right: rem-calc(10);
// $dropdownmenu-width-when-vertical: rem-calc(200);

// // 19. Flexbox Utilities
// // ---------------------

$flex-source-ordering-count: 6;
$flexbox-responsive-breakpoints: true;

// // 18. Flex Video
// // --------------

// // Sizes
// $flexvideo-margin-bottom: rem-calc(16);
// $flexvideo-ratio: 4 by 3;
// $flexvideo-ratio-widescreen: 16 by 9;

// @function flex-video($ratio) {
//   $w: nth($ratio, 1);
//   $h: nth($ratio, 3);

//   @return $h / $w * 100%;
// }

// // 19. Label
// // ---------

// // Border width
// $label-border-width: $global-border-width;
// // Radius
// $label-radius: $global-radius;
// // Status
// // Default fill for labels. Can either be `solid` or `hollow`.
// $label-fill: solid;
// $label-radius-status: true;
// $label-border-status: false;
// // Sizes
// $label-font-size: 1rem;
// $label-padding: rem-calc(6) rem-calc(10);
// $label-border: $label-border-width solid $label-border-color;

// // 20. Media Object
// // ----------------

// // Sizes
// $mediaobject-margin-bottom: $global-margin;
// $mediaobject-section-padding: $global-padding;
// $mediaobject-image-width-stacked: 100%;

// // 21. Menu
// // --------

// // Status
// $menu-first-line-zero-padiing-left-status: true;
// $menu-icon-status: true;
// $menu-simple-status: true;
// $menu-text-status: true;
// $menu-bordered-status: true;
// $menu-hover-status: true;
// $menu-nested-status: true;
// // Sizes
// $menu-margin: 0;
// $menu-margin-nested: 1rem;
// $menu-item-padding: rem-calc(6) rem-calc(16); // You can use map
// $menu-icon-spacing: 0.25rem;
// $menu-expand-max: 6;
// $menu-simple-margin: 1rem;
// $menu-font-size: rem-calc(16);
// $menu-font-weight: bold;
// $menu-text-font-weight: bold;
// $menu-border-width: 1px;
// $menu-border-style: solid;

// // 22. Menu Icon
// // ----------------

// // Sizes
// $menu-icon-height: rem-calc(16);
// $menu-icon-width: $menu-icon-height * 1.4;
// $menu-icon-padding: 0;
// $menu-icon-path-width: 14;

// // 23. Off-canvas
// // --------------

// // Status
// $offcanvas-fixed-reveal: true;
// // Sizes
// $offcanvas-sizes: (
//   small: 250px
// );
// $offcanvas-vertical-sizes: (
//   small: 250px
// );
// $offcanvas-transition-length: 0.8s;
// $offcanvas-transition-timing: ease;
// $maincontent-class: "off-canvas-content";
// $offcanvas-push-zindex: 12;
// $offcanvas-overlap-zindex: 13;
// $offcanvas-reveal-zindex: 12;
// $offcanvas-inner-shadow-size: rem-calc(20);
// $offcanvas-overlay-zindex: 11;

// // 24. Orbit
// // ---------

// // Radius
// $orbit-bullet-border-radius: 50%;
// // Status
// $orbit-caption-status: true;
// $orbit-control-status: true;
// $orbit-bullet-status: true;
// $orbit-bullet-border-status: true;
// $orbit-control-content-status: true;
// $orbit-control-content-rotate-status: true; // When use arrow up unicode symbol that switch rotate code
// // Sizes
// $orbit-bullet-diameter: 1.2rem;
// $orbit-bullet-margin: 0.1rem;
// $orbit-bullet-margin-top: 0.8rem;
// $orbit-bullet-margin-bottom: 0.8rem;
// $orbit-caption-padding: 1rem;
// $orbit-control-padding: 1rem;
// $orbit-control-zindex: 10;
// $orbit-control-content-size: rem-calc(18);
// $orbit-control-content-left: 0;
// $orbit-control-content-right: 0;
// $orbit-bullet-align: center;
// $orbit-bullet-border: 1px solid $orbit-bullet-border-color;
// $orbit-container-margin: 0;
// $orbit-figure-margin: 0;
// $orbit-image-margin: 0;
// $orbit-image-max-width: 100%;
// $orbit-caption-bottom: 0;
// $orbit-caption-margin-bottom: 0; // Use $orbit-caption-bottom instead
// $orbit-caption-width: 100%;
// $orbit-caption-height: auto;

// // 25. Pagination
// // --------------

// // Radius
// $pagination-radius: $global-radius;
// $pagination-button-radius: $global-radius;
// // Status
// $pagination-mobile-items-status: true;
// $pagination-mobile-current-item: false;
// $pagination-arrows-status: true;
// $pagination-radius-status: true;
// // Sizes
// $pagination-font-size: rem-calc(14);
// $pagination-margin-bottom: $global-margin;
// $pagination-item-padding: rem-calc(3 10);
// $pagination-item-spacing: rem-calc(1);
// $pagination-arrows-margin-right: rem-calc(8);

// // 26. Progress Bar
// // ----------------

// // Radius
// $progress-radius: $global-radius;
// // Status
// $progress-radius-status: true;
// // Sizes
// $progress-height: 1rem;
// $progress-margin-bottom: $global-margin;
// $progress-text-font-size: rem-calc(10);
// $progress-text-font-weight: bold;

// // 27. Responsive-embed
// // ----------

// // Sizes
// $responsive-embed-margin-bottom: rem-calc(16);
// $responsive-embed-ratios: (
//   default: 16 by 9,
//   fourbythree: 4 by 3
// );

// // 28. Reveal
// // ----------

// // Border width
// $reveal-border-width: $global-border-width;
// // Radius
// $reveal-radius: $global-radius;
// // Status
// $reveal-border-status: true;
// $reveal-border-radius-status: true;
// // Sizes
// $reveal-border: $reveal-border-width solid $reveal-border-color;
// $reveal-width: rem-calc(600);
// $reveal-max-width: $global-width;
// $reveal-padding: rem-calc(24);
// $reveal-zindex: 1005;
// $reveal-offset: rem-calc(100);
// $reveal-sizes: (
//   tiny: 30%,
//   small: 50%,
//   large: 90%
// );

// // 29. Slider
// // ----------

// // Border width
// $slider-handle-border-width: $global-border-width;
// // Radius
// $slider-radius: $global-radius;
// // Status
// $slider-radius-status: true;
// $slider-handle-border-status: true;
// // Sizes
// $slider-height: rem-calc(4);
// $slider-vertical-width: $slider-height;
// $slider-handle-height: rem-calc(16);
// $slider-handle-width: $slider-handle-height;
// $slider-transition: all 0.2s ease-in-out;
// $slider-container-margin-top: rem-calc(16);
// $slider-container-margin-bottom: rem-calc(32);
// $slider-vertical-height: rem-calc(160);
// $slider-vertical-margin: 0 rem-calc(16);
// $slider-handle-border: $slider-handle-border-width solid
//   $slider-handle-border-color;

// // 30. Switch
// // ----------

// // Radius
// $switch-paddle-radius: $global-radius;
// // Status
// $switch-radius: $global-radius;
// $switch-radius-status: true;
// $switch-different-sizes-status: true;
// // Sizes
// $switch-cursor-disabled: not-allowed;
// $switch-height: 2rem;
// $switch-height-tiny-coefficient: 0.8;
// $switch-height-small-coefficient: 0.9;
// $switch-height-large-coefficient: 1.1;
// $switch-margin: $global-margin;
// $switch-paddle-offset: $global-border-width;
// $switch-paddle-transition: all 0.25s ease-out;
// $switch-container-font-size: rem-calc(14);
// $switch-container-font-weight: bold;
// $switch-width: 4rem;
// $switch-paddle-height: $switch-height -
//   (rem-calc(strip-unit($switch-paddle-offset)) * 2);
// $switch-paddle-width: (
//   $switch-width - (rem-calc(strip-unit($switch-paddle-offset)) * 4)
// ) / 2;
// $switch-paddle-text-outer-side-margin: 6%; // ONLY PERCENTS

// // 31. Table
// // ---------

// // Border width
// $table-border-width: $global-border-width;
// // Radius
// $table-border-radius: $global-radius;
// // Status
// $show-header-for-stacked: false;
// $table-is-striped: true;
// $table-radius-status: true;
// $table-border-status: true;
// $table-background-status: true;
// $table-background-hover-status: true;
// // Sizes

// // Defualt value for showing the stripe on rows of the tables, excluding the header and footer If even, the even rows will have a background color. If odd, the odd rows will have a background color. If empty, or anyother value, the table rows will have no striping.
// $table-stripe: even;
// $table-stack-breakpoint: medium;
// $table-border: $table-border-width solid $table-border-color;
// $table-padding: rem-calc(8 10 10);
// $table-caption-font-size: 1rem;
// $table-caption-font-weight: $global-weight-bold;
// $table-thead-tfoot-font-weight: $global-weight-bold;
// $table-thead-tfoot-text-align: #{$global-left};
// $table-margin-bottom: $global-margin;
// $table-thead-tfoot-padding: $table-padding;

// // 32. Tabs
// // --------

// // Border width
// $tab-container-border-size: $global-border-width;
// // Radius
// $tab-radius: $global-radius;
// // Status
// $tab-bootstrap-like-status: false;
// $tab-vertical-status: true;
// $tab-simple-status: false;
// $tab-background-status: true;
// $tab-content-background-status: true;
// $tab-container-border-status: true;
// $tab-border-status: false;
// $tab-content-border-status: false;
// $tab-border-radius-status: true;
// $tab-container-radius-status: true;
// $tab-content-horizontal-radius-status: false;
// $tab-container-background-primary-status: false;
// // Sizes
// $tab-margin: 0;
// $tab-item-padding: rem-calc(16 24);
// $tab-content-padding: 1rem;
// $tab-item-font-size: rem-calc(12);
// $tab-container-border: $tab-container-border-size solid $tab-border;
// $tab-content-border: $tab-container-border-size solid $tab-content-border-color;
// $tab-content-vertical-border: $tab-content-border;
// $tab-title-font-weight: normal;
// $tab-content-transition: all 0.5s ease;
// $tab-content-margin-bottom: 1rem;

// // 33. Thumbnail
// // -------------

// // Radius
// $thumbnail-radius: $global-radius;
// // Status
// $thumbnail-radius-status: true;
// $thumbnail-border-status: true;
// $thumbnail-box-shadow-status: true;
// // Sizes
// $thumbnail-border: rem-calc(4) solid $thumbnail-border-color;
// $thumbnail-margin-bottom: 0;
// $thumbnail-transition: box-shadow 200ms ease-out;

// // 34. Title Bar
// // -------------

// // Sizes
// $titlebar-padding: rem-calc(11 8 12);
// $titlebar-text-font-weight: bold;
// $titlebar-icon-spacing-left: rem-calc(4);
// $titlebar-icon-spacing-right: rem-calc(4);

// // 35. Tooltip
// // -----------

// // Border width
// $tooltip-has-tip-border-bottom-width: $global-text-border-width;
// // Radius
// $tooltip-radius: $global-radius;
// // Status
// $tooltip-radius-status: true;
// $tooltip-triangle-status: true;
// $tooltip-has-tip-border-bottom-status: true;
// // Sizes
// $tooltip-padding: rem-calc(10);
// $tooltip-font-size: $small-font-size;
// $tooltip-pip-width: rem-calc(8);
// $tooltip-pip-height: $tooltip-pip-width; //$tooltip-pip-width * .866;
// $has-tip-cursor: help;
// $tooltip-max-width: rem-calc(160);
// $tooltip-font-weight: bold;
// $tooltip-distance: calc(100% + #{$tooltip-pip-height});
// $has-tip-border-bottom: $tooltip-has-tip-border-bottom-width dotted
//   $tooltip-has-tip-border-bottom-color;

// // 36. Top Bar
// // -----------

// // Radius
// $topbar-input-radius: $global-radius;
// // Status
// $topbar-input-radius-status: true;
// // Sizes
// $topbar-unstack-breakpoint: medium;
// $topbar-padding: rem-calc(8 16);
// $topbar-input-width: rem-calc(200);
// $topbar-title-spacing: 1rem;
// $topbar-input-margin-right: 1rem;
